<section>
  <div class="shell">
    <div class="row row--vertical-center">
      <div class="col col--10-lg col--9-md col--8-sm">
        <h1 class="heading heading--primary">
          <a routerLink="/categories/{{idCategory}}/lists" [queryParams]="{category: categoryName}"
            routerLinkActive="active" class="link" title="Voltar para a página anterior">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a> /
          {{categoryName}} / {{listName}}
        </h1>
      </div>
      <div class="col col--2-lg col--3-md col--4-sm text-right">
        <a routerLink="/categories/{{idCategory}}/lists/{{idList}}/items/new" routerLinkActive="active"
          [queryParams]="{category: categoryName, list: listName}" class="btn btn--primary">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Novo
        </a>
      </div>
    </div>
  </div>
</section>

<section class="main" *ngIf="tasks as items; else loading">
  <div class="shell">
    <div class="row">
      <div class="col col--12-lg col--12-md col--12-sm">
        <h2 class="heading heading--secondary">
          Items <span class="featured">({{tasks.length}} tarefas)</span>
        </h2>

        <ul class="list list--block">
          <li class="item card" *ngFor="let item of items">
            <div class="item__name">
              <a routerLink="/categories/{{idCategory}}/lists/{{idList}}/items/{{item.id}}/edit"
                [queryParams]="{category: categoryName, list: listName}" routerLinkActive="active" class="name__link">
                {{item.name}}
              </a>
            </div>
            <div class="item__actions">
              <a routerLink="/categories/{{idCategory}}/lists/{{idList}}/items/{{item.id}}/edit"
                [queryParams]="{category: categoryName, list: listName}" class="action__link done">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Editar</span>
              </a>
              <a (click)="onDone(item)" class="action__link">
                <i class="fa fa-check-circle" [ngClass]="{done: item.done}" aria-hidden="true"></i>
                <span *ngIf="item.done">Feito</span>
                <span *ngIf="!item.done">Aberto</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div *ngIf="existsTasks">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!existsTasks">
    <app-tasksnotfound></app-tasksnotfound>
  </div>
</ng-template>
